/myjavecodeone/target/classes/com/annotationonedemo/*.class
/myjavecodeone/target/classes/com/classrelativeonedemo/*.class
/myjavecodeone/target/classes/com/classrelativeonedemo/parameterizedtypedemo/*.class
/myjavecodeone/target/classes/com/classrelativeonedemo/reflectdemo/*.class
/myjavecodeone/target/classes/com/classrelativeonedemo/typetestdemo/*.class
/myjavecodeone/target/classes/com/cpsdb/mytestcode/parameterizedtype/*.class
/myjavecodeone/target/classes/com/exceptiononedemo/*.class
/myjavecodeone/target/classes/com/iostreamonedemo/biostream/*.class
/myjavecodeone/target/classes/com/iostreamonedemo/biostream/processstream/*.class
/myjavecodeone/target/classes/com/iostreamonedemo/charsetdemo/*.class
/myjavecodeone/target/classes/com/iostreamonedemo/niostream/*.class
/myjavecodeone/target/classes/com/iostreamonedemo/objectresource/*.class
/myjavecodeone/target/classes/com/iostreamonedemo/serialize/*.class
/myjavecodeone/target/classes/com/iostreamonedemo/serialize/protobufdemo/*.class
/myjavecodeone/target/classes/com/iostreamonedemo/serialize/protostuffdemo/*.class
/myjavecodeone/target/classes/com/lambdaonedemo/*.class
/myjavecodeone/target/classes/com/lambdaonedemo/optionalandstreamdemo/*.class
/myjavecodeone/target/classes/com/nettyonedemo/nettyrpcexprient/client/*.class
/myjavecodeone/target/classes/com/nettyonedemo/nettyrpcexprient/common/*.class
/myjavecodeone/target/classes/com/nettyonedemo/nettyrpcexprient/handle/*.class
/myjavecodeone/target/classes/com/nettyonedemo/nettyrpcexprient/server/*.class
/myjavecodeone/target/classes/com/nettyonedemo/nettyrpcexprient/startuptest/*.class
/myjavecodeone/target/classes/com/nettyonedemo/nettyrpcexprient/util/*.class
/myjavecodeone/target/classes/com/nettyonedemo/simpleandbase/*.class
/myjavecodeone/target/classes/com/threadonedemo/*.class
/myjavecodeone/target/classes/com/webrelativeonedemo/aiosocketdemo/*.class
/myjavecodeone/target/classes/com/webrelativeonedemo/biosocketdemo/halfclosedsocketserverandclient/*.class
/myjavecodeone/target/classes/com/webrelativeonedemo/biosocketdemo/singlesocketserverandclient/*.class
/myjavecodeone/target/classes/com/webrelativeonedemo/biosocketdemo/threadsocketserverandclient/*.class
/myjavecodeone/target/classes/com/webrelativeonedemo/downloadfrombook/*.class
/myjavecodeone/target/classes/com/webrelativeonedemo/mutilcastsocketdemo/*.class
/myjavecodeone/target/classes/com/webrelativeonedemo/niosocketdemo/*.class
/myjavecodeone/target/classes/com/webrelativeonedemo/udpdemo/*.class
/myjavecodeone/target/classes/com/webrelativeonedemo/urldemo/*.class
/myjavecodeone/target/test-classes/com/cpsdb/*.class
/myjavecodeone/target/test-classes/com/cpsdb/demo/*.class
